node_modules
public/hot
public/storage
public/css
public/js
public/exp3/
public/fonts/
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
