// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import 'table';

body{
    position: relative;
}

#app{
    position: absolute;
    right: 0px;
    left: 0px;
}

div.calender.col{
  padding-right: 0;
}

footer{
  height: 1.4em;
  line-height: 1em;
  font-size: 1em;
  overflow-x: hidden;
  .row{
    .col{
      padding: 0.4em;
      text-align: center;
      border-top: 1px solid var(--secondary);
    }
  }
}
