<?php
/**
 * Konfigurations-Daten
 */
 
/*
 * debug mode (false|true):
 */
$debug = false;
$debug_file = false;
 
/*
 * Fehler-Behandlung
 */
if($debug)
{
	/* debug: */
	error_reporting(E_ALL | E_STRICT);
	ini_set('display_errors', 'On');
	ini_set('display_startup_errors', true);
	ini_set('error_log', ROOT_DIR . 'var/log/php_error.log');
}
else
{
	/* productive: */
	error_reporting(E_ERROR);
	ini_set('display_errors', 'Off');
	ini_set('display_startup_errors', false);
}


/*
 * set default_timezone and locale:
 */
date_default_timezone_set('Europe/Berlin');
setlocale(LC_TIME,"de_DE");


/*
 * web_root
 *
 * der relative Pfad der Startseite
 */
$web_root = '/';

/*
 * MySQL
 */
$db_host = 'localhost';
$db_name = '<databasename>';
$db_user = '<databaseuser>';
$db_pass = '<databasepassword>';
