/* core stuff */
body{
	overflow-x: hidden;
	padding-right: 0px!important;
}

.logo{
	padding-bottom: 5px;
	padding-top: 5px;
}

.img-responsive {
	margin: 0 auto;
}

div.navigation .navbar{
  margin-bottom: 0px!important;
}

.navbar-bordered{
  border: 1px solid #dfd7ca!important;
}

#maincol{
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer{
	background-color: #f0f0f0;
	margin-top: -20px;
	padding-bottom: 20px;
}

/* top-link */
#top-link-block{
	z-index: 500;
}

#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}

#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

/* spinner */
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

/* shoutbox */
#sbposts{
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}

div.sbpmsgadmin p{padding: 5px;}

.midlbl{
  vertical-align: bottom;
}

.sbpagination{
  
}

.sbpaginationtop ul.pagination{
  margin: 0px 0px!important;
}
.sbpaginationbottom ul.pagination{
  margin: 0px 0px!important;
}

.sbpid{font-weight: bold;}
.sbpdate{}
.sbpnick{font-weight: bold;}
.sbpmsg{}
.sbpnicknormal{}
.sbpnickadmin{}
.sbpmsgnormal{}
.sbpmsgadmin{background-color: #e0f3c6;}

/* games */
#gamestep{ font-weight: bold; }
.games button.navbar-toggle span{ background-color: #3e3f3a!important; }